@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500&display=swap");
* {
  font-family: "Wix Madefor Display", sans-serif;
}

.Hero {
  background-color: black;
}
.Hero .rightPanel {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.Hero .rightPanel .profileImage {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Hero .rightPanel .profileImage img {
  width: 100%;
}
.Hero .rightPanel h6, .Hero .rightPanel p {
  color: white;
}
.Hero .rightPanel .bottonss {
  background-color: rgb(25, 25, 25);
  text-align: left;
}
.Hero .rightPanel .bottonss a {
  text-decoration: none;
}
.Hero .rightPanel .bottonss .liveOption {
  background-color: #ee4400;
}
.Hero .rightPanel .bottonss .opt:hover {
  background-color: #ff9e77;
}
.Hero .rightPanel .homepageLink h6 {
  font-size: 12px;
}
.Hero .rightPanel .homepageLink h6:hover {
  color: #ee4400;
}
.Hero .rightPanel .homepageLink a {
  text-decoration: none;
}
.Hero .rightPanel .homepageLink a:hover {
  color: #ee4400;
}
.Hero .leftPanel {
  background: rgb(255, 255, 255);
  height: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.Hero .leftPanel .postlists {
  color: rgb(58, 58, 58);
}
.Hero .leftPanel .postlists a {
  color: white;
  text-decoration: none;
}
.Hero .leftPanel .postlists .Hoverbtn {
  border: none;
  background-color: #ee4400;
}
.Hero .leftPanel .postlists .Hoverbtn:hover {
  background-color: rgb(75, 0, 0);
  transition: 0.5s ease-in;
}
.Hero .leftPanel .postlists .postLists {
  border: 0.5px solid rgb(215, 215, 215);
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  max-height: 100%;
}
.Hero .leftPanel .postlists .postLists table {
  overflow-y: scroll;
  font-size: 15px;
  align-items: center;
}
.Hero .leftPanel .postlists .postLists table .headeeer {
  background-color: black;
  color: white;
}
.Hero .leftPanel .postlists .postLists table .spaceForTopic {
  width: 30%;
}
.Hero .leftPanel .postlists .postLists table .butomBord {
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgb(215, 215, 215);
  cursor: pointer;
}
.Hero .leftPanel .postlists .postLists table .butomBord:hover {
  color: #ee4400;
}
.Hero .leftPanel .postlists .postLists table img {
  height: 40px;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}