@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500&display=swap");
* {
  font-family: "Wix Madefor Display", sans-serif;
}

.Hero {
  background-color: black;
}
.Hero .rightPanel {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.Hero .rightPanel .profileImage {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Hero .rightPanel .profileImage img {
  width: 100%;
}
.Hero .rightPanel h6, .Hero .rightPanel p {
  color: white;
}
.Hero .rightPanel .bottonss {
  background-color: rgb(25, 25, 25);
  text-align: left;
}
.Hero .rightPanel .bottonss a {
  text-decoration: none;
}
.Hero .rightPanel .bottonss .liveOption {
  background-color: #ee4400;
}
.Hero .rightPanel .bottonss .opt:hover {
  background-color: #ff9e77;
}
.Hero .rightPanel .homepageLink h6 {
  font-size: 15px;
}
.Hero .leftPanel {
  background: rgb(218, 168, 168);
  height: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}