@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500&display=swap');
*{
    font-family: 'Wix Madefor Display', sans-serif;  
}

.Hero {
    background-color:black;

    .rightPanel {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: rgb(0, 0, 0);

        .profileImage{
            width: 50%;
            height: 50%;
            border-radius: 100%;
            align-items: center;
            display: flex;
            justify-content: center;

            img{
                width: 100%;
            }
        }
        h6, p {
            color: white;
        }
        .bottonss {
            background-color: rgb(25, 25, 25);
           text-align: left; 
           a {
                text-decoration: none;
            } 
         .liveOption {
            background-color: #ee4400;
         }   
         .opt:hover {
            background-color: #ff9e77;
         }
        }
        .homepageLink{
            // background-color: yellow; 
            h6 {
                font-size: 12px;&:hover {
                color: #ee4400;
            }
            }
            a {
                text-decoration: none; 
                }a:hover{
                    color: #ee4400;
            }
            
        }
        
    }
    .leftPanel {
        background: rgb(255, 255, 255);
        height: 100%;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;

.forBlogPost{
            color: rgb(58, 58, 58);
        a{
            color: white;
            text-decoration: none;
        }
    .Hoverbtn {
        border: none;
        background-color: #ee4400;&:hover{
        background-color: rgb(75, 0, 0);
        transition: 0.5s ease-in; }
    }

    .postLists {
        border: 0.5px solid rgb(215, 215, 215);
        border-radius: 20px;
        background-color: rgb(246, 246, 246);
        // height: 100%;
        
        height: 60%;

        table{
font-size: 15px;
align-items: center;
            .headeeer{
                background-color: black;
                color: white;
                
            }
            .spaceForTopic{
                width: 30%;
            }
            .butomBord{
                align-items: center;
                justify-content: center;
                border-bottom: 0.5px solid rgb(215, 215, 215); ;
            }
            img {
                height: 40px;
            }
        }
    }
}
    }
}
