@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500&display=swap');
*{
    font-family: 'Wix Madefor Display', sans-serif;  
}

body {
    background-color: rgb(143, 130, 130);
}

.heroHead{
    margin: 0 auto;
    justify-content: center;
    .boxHeader {
        background-color: black;
        
        color: white;
        font-size: 3rem;
        font-weight: 700;
        // height: 4%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.mainSection {
        margin: 0 auto;
        justify-content: center;
        width: 40%;

        .smallHeading {
            font-size: 12px;
            color: #ee4400;
            font-weight: 700;
        }
        .eachPost {
           margin-bottom: 30px;
            // background-color: yellow; 
        }
        .box{
            height: 20%;
            background-color: transparent;
            
        img{
            height: 70%;
            width: 100%;
        }
        }
        h3 {
            font-weight: 700;
            font-size: 50px;
            color: black;
            }
        p{
            color: #464646;
            font-size: 22px;
        }

        a {
            text-decoration: none;
            color: #767676;
            &:hover {
                color: white;
            }
        }
        .postBody {
            font-size: 20px;
            text-align: justify;
            a {
                color: #ee4400;
             &:hover{
                color: #c0c0c0;
            }   
            }
            span {
                color: #ee4400;
                font-weight: 600;
            }
        }
    }

.nextANDPrevios{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Hoverbtn {
    // background-color: rgba(255,70,0,1);
    color: rgb(139, 139, 139);
    border: 1px solid gray;
    transition: 0.3s ease-in-out;
    background: transparent;
    background-color: #e4e4e4;
  
}.Hoverbtn:hover {
    transition: 0.3s ease-in-out;
    background: #ee4400;
    border: 1px solid white;
    color: white;
  }